<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= detalle.nombreProducto %></h2> 
			<p class="product-detail-description">
				<a href="/products/product-add">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row"> <!-- esta es la pagina del DETALLE del producto donde cuando apretas el producto en el index se dirige a esta pag con la foto y los comentarios-->
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/<%= detalle.fotoProducto %>" alt="" class="product-detail-img">
					<p class="product-detail-description"> <%= detalle.descripcion %></p> <!-- para acceder al detalle con la descripcion y foto del producto-->
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for (let i = 0; i < comentarios.length; i++) { %>  <!--Este for hará que se muestre cada comentario dentro de datos, con su foto, usuario y texto correspondiente-->
							<article>
								<img src="/images/users/<%= comentarios[i].foto %>" alt=""> <!-- dentro de comentarios esta la foto del usuario que comenta esto va a hacer que figure eso-->
								<div class="data">
									<p class="user">
									<strong> <a href="/users/profile"><%= comentarios[i].usuario %> </a> </strong>
									 <%= comentarios[i].texto %></p>
								</div>
							</article>
						<% } %>

					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->

</body>	
</html>