<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>


<body>
	<!-- Header -->
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado') %>
	<% } else { %>
		<%- include('./partials/header') %>
	<% } %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->
			
			<% if (productos.length > 0) { %>  
				<ul> 
					<% for (let i = 0; i < productos.length; i++) { %>   <!-- FOR DE PRODUCTOS: este for va a recorrer los productos que figuran en el index para mostrar los datos que se encuentran en la carpeta datos db-->
						<div class="col-12 col-sm-6 col-lg-3 divProd">
							<section class="product-box">
								<a href="/products/id/<%= productos[i].id %>"> 
								<figure class="product-box_image">
									<img src="/images/products/<%= productos[i].foto%>" alt="cafetera moulinex"> <!-- IMG PRODUCTO QUE FALTA-->
								</figure>
							
							<article class="product-box_data">
								<h2 class="productoNombre"> <%= productos[i].nombre %> </h2>
								<p class="descripcion"> <%= productos[i].descripcion %> </p> 
								<p> Subido por: <a href="/users/profile/id/<%= productos[i].usuariosId %>"><%= productos[i].usuariosId.email %>/p> <!-- ESTO ESTÁ MAL!!!!!-->
							</article>
						</section>
						</div>
					<% } %>

				</ul>
				<% } else { %> <!--si no se encontraron productos, entonces se muestra el mensaje -->
						<p> No hay resultados para la búsqueda </p>
					<% } %>

						
			
	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>