<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>


<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->

			<% for (let i = 0; i < datos.productos.length; i++) { %>   <!-- FOR DE PRODUCTOS: este for va a recorrer los productos que figuran en el index para mostrar los datos que se encuentran en la carpeta datos db-->
				<div class="col-12 col-sm-6 col-lg-3 divProd">
					<section class="product-box">
						<a href="/products/id/<%= datos.productos[i].id %>"> 
						<figure class="product-box_image">
							<img src="/images/products/<%= datos.productos[i].fotoProducto%>" alt="cafetera moulinex"> <!-- IMG PRODUCTO QUE FALTA-->
						</figure>
					
					<article class="product-box_data">
						<h2 class="productoNombre"> <%= datos.productos[i].nombreProducto %> </h2>
						<p class="descripcion"> <%= datos.productos[i].descripcion %> </p> 
						
						

					</article>
				</section>
				</div>
			<% } %>

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>